* {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Verdana, sanf-serif;
}

header {
	height: 100px;
	background-color: #52D4FF;
	border-radius: 40px;
}

body{
	width: 800px;
	background-color: gray;
	margin: 25px auto;
}

header h1 {
	font-family: verdana;
	font-style: italic;
	padding-left: 100px;
	padding-top: 15px;
	color: white;
	font-size: 30pt;
	text-shadow: black 1px 1px 10px;
}
header h2{
	font-family: verdana;
	font-style: bold;
	color: white;
	font-size: 15pt;
	padding-left: 400px;
}